div {
  color: gray;
  height: 100%;
  /* max-height: 80vh;
  width: 100%;
  max-width: 80vw; */
}

p {
  color: red;
  font-size: 2em;
  font-family: "Times New Roman", Times, serif;
}

h2 {
  color: aqua;
  background-color: orange;
  border: 2px solid black;
  padding: 5px;
  width: 100%;
  overflow: hidden;
}

ol {
  color: green;
  font-size: 1.5em;
  font: 200;
}

ul {
  color: rgb(73, 211, 142);
  font-size: 1.5em;
  font: 200;
}
